
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

#logo-quotation{
	height: 50px;
	width: 100%; 
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#logo a, #searchbox p{
	font-family: Tahoma;
	font-size: 30px;
	color: green;
	text-decoration: none;
}

#logo{
	height: 45px;
	padding-left: 10px;
	padding-top: 5px;
	text-align: left;
	-webkit-box-flex: 1;
}

#searchbox{
	height: 45px;
	text-align: right;
	padding-right: 10px;
	padding-top: 5px
	border: 1px solid red;
	-webkit-box-flex: 0;
	width: 300px;
}

.image {
    width:100vw;
    height: 100vh; 
    background: #f4f4f4;
    background-image: url('nature.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#topnav{
	background-color: black;
	opacity: .8;
}
.nav-placeholder{
	height: 40px;
}
ul {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-orient: horizontal;
	list-style: none;
}
ul > li{
	height: 40px;
	width: 200px;
	background-color: black;
	opacity: .8;
	border-bottom: 1px solid #ffffff; 
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
ul li ul{
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
ul  li  ul li{
	display: none;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
ul li a:hover{
	background-color: green;
}
ul li:hover ul li{
	display: block;
	-webkit-animation-name: dropdownAnimation;
	-webkit-animation-duration: 1s;
}

@keyframes dropdownAnimation{
	from{ opacity: .3;}
	to{ opacity: 0.8;}
}

ul li ul li:hover{
	border-bottom: 1px solid #ffffff;
}

/* top header **/
#topheader{
	 font-family: "Times New Roman", Georgia, Serif;
	 font-size: 30px;
	 text-align: center;
	 color:#ffffff;
}

/*first section */
#section1,#section2{
	width: 100%;
	height: 100vh;
	background: #f4f4f4;
}

/*About me page design */
#section1 #aboutHeader{
	background-color: #d9edf7; 
	height: 30vh; 
	margin-top: 20px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
}
#section1 #aboutSection{
	display: -webkit-box; 
	-webkit-box-orient: horizontal; 
	-webkit-box-pack: center;
	color: #4f4f4f;
}

#input_box table tr input{
	width: 300px;
	height: 20px;
	margin-top: 5px;
	padding: 2px;
}
#submit_button{
	width: 100%; 
	height: 40px;
	margin-top: 5px;
	padding: 2px;
	font-size: 20px;
	background-color: green;
	border: 0px;
	border-radius: 2px;
	color: #ddd;
}
#skills_set div{
	width: 100px;
	display: block;
	background: #555;
	margin-top: 5px;
	color: #ffffff;
	padding: 5px;
	font-family: Tahoma,sans-serif;
	border-radius: 15px;
	text-align: center;
}

/** portfolio section **/
#portfolio_section{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	margin-top: 200px;
}
.portfolio_class{
	height: 100px;
	background: transparent;
	margin: 10px;
	opacity: .3;
}
.portfolio_class:hover{
	-webkit-animation-name: change_opacity;
	-webkit-animation-duration: 1s;
}
@keyframes change_opacity{
	from{opacity: .3;}
	to{opacity: 1;}
}

/* button for scroll to top **/
#myBtn{
	display: ;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	border: none;
	background-color: green;
	opacity: .5;
	color: #ffffff;
	padding: 15px;
	border-radius: 10px;
}

#myBtn:hover{
	background-color: green;
	opacity: .8;
}

#last_footer{
	width: 100%;
	height: 200px;
	background: #4f4f4f;
}


/** Search Box */
.form-search-input{
    width: 0px;
    height: 30px;
    border: 0;
    outline: 0;
    font-size: 15px;
    padding: 10px 0px 0px 0px;
    color: #151515;
    transition: all 0.5s;
}
.search-input-open{
    width: 200px !important;
    padding: 10px 0px 0px 20px !important;
    display: initial !important;
	height: 30px;
}
.form-search-submit{
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 0;
    outline: 0;
    background-color: green;
    border-radius: 50%;
    font-size: 21px;
    color: #FFF;
    cursor: pointer;
    text-align: center;
}

/* Ending of search box */