*{
	padding: 0px;
	margin: 0px;
}

header, section, footer, nav, article, hgroup, aside{
	display: block;
}

body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	font-size: 15px; 
	background-color: #f4f4f4;
}
#main{
	max-width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
header{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
}


#outertop{
	height:70px;
	width: 100%;
	background-color: #4f4f4f;
	color:#ffffff;
}
#outertop p{
	padding: 10px;
	font-weight: bold;
	font-size:30px;
	text-align: center;
}

/** Navigation bar **/
#item li{
	display: inline-block;
	list-style: none;
	font:bold 16px Tahoma;
}
#navigation{
	padding-top: 0px;
	background-color: #f44;
}
#item{
	margin:auto;
	width: 60%;
	padding: 5px;
	text-align: center;
}
#ulist li{
	padding:5px;
	margin-left:10px;
	border-radius: 5px;
}
#ulist li:hover{
	background-color: blue;
}
#ulist li > a{
	text-decoration: none;
	color: #ffffff;
}
#ulist li > a:hover{
	color: #ffffff;
}

/** middle image **/
#middleImage{
	background-image: url('../images/3.jpg'); 
	height: 400px;
}
#middleImage div > p{
	text-align: center;
	color:#ffffff;
	padding-top: 190px;
	font-size: 30px;
}

/** main content **/
#new_div{
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
#main_section{
 	display: -webkit-box;
 	-webkit-box-orient: horizontal;
 	-webkit-box-pack: center;
 	-webkit-box-flex: 1;
 	margin: 20px;
 	padding: 0px;
}
.article{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 50px;
	margin-right: 50px;
}
.pic1{
	width:150px;
	height:150px;
	overflow: hidden;
}
img{
	width: 150px;
	height: 150px;
}
.article p{
	width: 150px;
}


/*footer */
#footer{
	width:100%;
	height: 300px;
	background-color: #f44;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-flex: 1;
}
#footer .pic1{
	border-radius: 50%;
	opacity: 0.3;
	-webkit-transition: -webkit-transform 1s, opacity 1s;
}
#footer .pic1:hover{
	opacity: 1;
}

/*bottom of the page */
#tinydiv{
	margin-top: 10px;
	width:100%;
	height: 10px;
	background: green;
}
#lastfooter{
	width:100%;
	height:50px;
	text-align:center;
	color:#ffffff;
	font-size:20px;
	padding-top:5px;
	background-color:#4f4f4f;
}
